.pre-commit-config.yaml
.ropeproject/* 
conf/deploy_settings.pyc
*.pyc                                                                           
*.tmp                                                                                                          
*.usr.cfg                                                                                                      
*.py.swo                                                                                                       
*.py.swp                                                                                                       
*.cfg.swp                                                                                                                                                                                                                             
*.project                                                                                                      
*.pydevproject                                                                                                 
*/.settings/*                                                                                                  
*.sqlite                                                                                                       
build        
*.war                                                                                                          
*.class                                                                                                        
*.egg-info                             
.idea                                                                                                          
.ropeproject/objectdb
provisionadmin-service/.ropeproject/
provision-service/.ropeproject/
